In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
#loading csv file into dataframe
df = pd.read_csv('/home/muregz/data_analysis/metro_transport/Metro-Systems-Worldwide.csv')

print(df.head(10))

             City Country\r\nregion                      Name
0         Algiers           Algeria             Algiers Metro  \
1    Buenos Aires         Argentina  Buenos Aires Underground
2         Yerevan           Armenia             Yerevan Metro
3          Sydney         Australia              Sydney Metro
4          Vienna           Austria             Vienna U-Bahn
5            Baku        Azerbaijan                Baku Metro
6           Dhaka        Bangladesh          Dhaka Metro Rail
7           Minsk           Belarus               Minsk Metro
8        Brussels           Belgium            Brussels Metro
9  Belo Horizonte            Brazil      Belo Horizonte Metro

   Service\r\nopened Last\r\nexpanded  Stations      System length
0               2011             2018        19  18.5 km (11.5 mi)  \
1               1913             2019        78  56.7 km (35.2 mi)
2               1981             1996        10   12.1 km (7.5 mi)
3               2019                –        13      36 km (22 mi)
4               1978             2017        98  83.3 km (51.8 mi)
5               1967             2022        27  40.7 km (25.3 mi)
6               2022                –         9   11.7 km (7.3 mi)
7               1984             2020        33  40.8 km (25.4 mi)
8               1976             2009        59  39.9 km (24.8 mi)
9               1986             2002        19  28.1 km (17.5 mi)

  Annual ridership\r\n(millions)
0                    45.3 (2019)
1                    74.0 (2020)
2                    23.3 (2022)
3                    16.3 (2022)
4                   459.8 (2019)
5                   202.5 (2022)
6                            NaN
7                   225.9 (2022)
8                    96.3 (2021)
9                    54.4 (2019)

In [11]:
df = df.rename(columns={'Country\r\nregion': 'Country',
                        'Service\r\nopened' : 'Service opened',
                        'Last\r\nexpanded' : 'Last expanded',
                        'Annual ridership\r\n(millions)' : 'Annual ridership in millions'})
print(df.columns)

Index(['City', 'Country', 'Name', 'Service opened', 'Last expanded',
       'Stations', 'System length', 'Annual ridership in millions'],
      dtype='object')

In [28]:
# Split the "Ridership" column into two separate columns
df[['Annual Ridership', 'Year of Record']] = df['Annual ridership in millions'].str.split(' ', n=1, expand=True)

# Remove the parentheses from the "Year of Record" column
df['Year of Record'] = df['Year of Record'].str.strip('()')
print(df.head(10))

             City     Country                      Name  Service opened
0         Algiers     Algeria             Algiers Metro            2011  \
1    Buenos Aires   Argentina  Buenos Aires Underground            1913
2         Yerevan     Armenia             Yerevan Metro            1981
3          Sydney   Australia              Sydney Metro            2019
4          Vienna     Austria             Vienna U-Bahn            1978
5            Baku  Azerbaijan                Baku Metro            1967
6           Dhaka  Bangladesh          Dhaka Metro Rail            2022
7           Minsk     Belarus               Minsk Metro            1984
8        Brussels     Belgium            Brussels Metro            1976
9  Belo Horizonte      Brazil      Belo Horizonte Metro            1986

  Last expanded  Stations      System length Annual ridership in millions
0          2018        19  18.5 km (11.5 mi)                  45.3 (2019)  \
1          2019        78  56.7 km (35.2 mi)                  74.0 (2020)
2          1996        10   12.1 km (7.5 mi)                  23.3 (2022)
3             –        13      36 km (22 mi)                  16.3 (2022)
4          2017        98  83.3 km (51.8 mi)                 459.8 (2019)
5          2022        27  40.7 km (25.3 mi)                 202.5 (2022)
6             –         9   11.7 km (7.3 mi)                          NaN
7          2020        33  40.8 km (25.4 mi)                 225.9 (2022)
8          2009        59  39.9 km (24.8 mi)                  96.3 (2021)
9          2002        19  28.1 km (17.5 mi)                  54.4 (2019)

  Annual Ridership Year of Record
0             45.3           2019
1             74.0           2020
2             23.3           2022
3             16.3           2022
4            459.8           2019
5            202.5           2022
6              NaN            NaN
7            225.9           2022
8             96.3           2021
9             54.4           2019

In [30]:
print(df['Annual Ridership'].dtypes)
df['Annual Ridership'] = df['Annual Ridership'].str.replace(',', '').astype(float)


print(df.dtypes)

object

ValueError: could not convert string to float: '50.7(2018)'

# showing which countries appear in the file

In [14]:
country = df['Country'].unique()
print(country)

['Algeria' 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan'
 'Bangladesh' 'Belarus' 'Belgium' 'Brazil' 'Bulgaria' 'Canada' 'Chile'
 'China' 'Colombia' 'Czech Republic' 'Denmark' 'Dominican Republic'
 'Ecuador' 'Egypt' 'Finland' 'France' 'Georgia' 'Germany' 'Greece'
 'Hungary' 'India' 'Indonesia' 'Iran' 'Italy' 'Japan' 'Kazakhstan'
 'North Korea' 'South Korea' 'Malaysia' 'Mexico' 'Netherlands' 'Nigeria'
 'Norway' 'Pakistan' 'Panama' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Singapore' 'Spain' 'Sweden' 'Switzerland'
 'Taiwan' 'Thailand' 'Turkey' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States' 'Uzbekistan' 'Venezuela' 'Vietnam']

# showing which country has the highest annual ridership and the lowest ridership

In [23]:
highest = df['Annual Ridership'].max()
print("The country with the highest annual ridership is:", str(highest))

TypeError: '>=' not supported between instances of 'str' and 'float'